<div class="sidebar">
  <h4>Filter by Genre</h4>
  {{#each filterOptions.genres}}
  <button class="btn btn-outline-secondary my-2 w-100" type="button">{{this}}</button>
  {{/each}}

  <h4>Filter by Year</h4>
  {{#each filterOptions.years}}
  <button class="btn btn-outline-secondary my-2 w-100" type="button">{{this}}</button>
  {{/each}}

  <h4>Filter by Director</h4>
  {{#each filterOptions.directors}}
  <button class="btn btn-outline-secondary my-2 w-100" type="button">{{this}}</button>
  {{/each}}
</div>