<div style="background-color: #10091b;">
    <div style="margin: 5%; margin-top: 2%;">
        {{> message}}
    </div>
    <div style="margin: 5%; margin-top: 2%;">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
    </div>

    <div style="display: flex; justify-content: space-around; margin:5%">
        
        <div>
            <img src="../../resources/MovieMasterLogo.png" style="margin-left: 0px;">
        </div>
        <div style="margin-top: 10%;">
            <form action="/account_settings" method="POST" style="margin-right: 100px;">
                <h2 style="font-size: x-large; color: rgb(251, 200, 207);">Username</h2>
                <input value="{{username}}" name="username" type="text" style="border-radius: 7px; border-width: 0px; padding: 6px; width: 100%;">
                <br>
                <br>
                <h2 style="font-size: x-large; color: rgb(251, 200, 207);">Email</h2>
                <p style="border-radius: 7px; padding: 6px; width: 100%; box-sizing: border-box; background-color: white;">{{email}}</p>
                <br>
                <input type="submit" value="Save" style="background-color: rgb(0, 95, 249); color:aliceblue; border-radius: 5px; border-width: 0px;"> 
            </form>
        </div>
    </div>
</div>
