<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Movies</title>
    <link rel="stylesheet" href="../../resources/css/style.css"> 
</head>
    <style>
    body {
      background-color: #281543;
      color: #ffffff;
    }
    .form-control {
      background-color: #ffffff;
      color: #11091c;
    }
    .btn-primary {
      background-color: #be3265;
      color: #ffffff;
      border: none;
    }
  </style>
<!-- This is just the code from addFriends -->
<div id="formContainer">
  <h1 style = "text-align: center;">Favorite Movies</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Favorite Movies:</p>
    <ul class="list-group">
      {{#each movies}}
        <li class="list-group-item">{{title}}</li>
      {{/each}}
    </ul>
  </div>
</div>
</html>

