<form action="/home" method="POST">
    <br>
    <div class="search-bar">
        <form class="form-inline my-2 my-lg-0">
            <div class="row">
                <div class="col col-1">
                </div>
                <div class="col-8">
                    <nav class="search-bar-1">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </nav>
                </div>
                <div class="col">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</form>