<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../resources/css/style.css"> 
    {{!-- {{if error}}
    <h2>Invalid password</h2>
    {{/if}} --}}
  <style>
    body {
      background-color: #11091c;
      color: #ffffff;
    }
    .form-control {
      background-color: #ffffff;
      color: #11091c;
    }
    .btn-primary {
      background-color: #be3265;
      color: #ffffff;
      border: none;
    }
  </style>
</head>
<div style="margin: 5%; margin-top: 2%;">
  {{> message}}
</div>
<body>
    <div id="formContainer">
        <h1 style = "text-align: center;">Welcome to MovieMaster</h1>
        <h2 style = "text-align: center;">Login to your account </h2>
        <form action="/login" method="POST"  style = "margin-left: 100px; margin-right: 100px;">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a href = "/register" style = "margin-left: 0px;">Don't have an account? Register Here</a>
    </div>
</body>
