{{!this needs to be incorporated once the home pahe and navagation bar has been created}}
{{!this will also be updated to make it look better and fit the theme of the rest of the website}}

<html>
    <h2><strong>You have logged out successfully!!</strong></h2>
    <p>You will need to login again to see your information</p>
</html>

