<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /*Centers the message in the middle of the page */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100;
        }

        /*Style of the container */
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Will be displayed to the user -->
        <h2>You have successfully logged out</h2>
        <p>You will need to login again to see your information</p>
    </div>
</body>
</html>
