<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../resources/css/style.css"> 
</head>
    <style>
    body {
      background-color: #11091c;
      color: #ffffff;
    }
    .form-control {
      background-color: #ffffff;
      color: #11091c;
    }
    .btn-primary {
      background-color: #be3265;
      color: #ffffff;
      border: none;
    }
  </style>
<div style="margin: 5%; margin-top: 2%;">
  {{> message}}
</div>
<div id="formContainer">
  <h1 style = "text-align: center;">Welcome to MovieMaster</h1>
  <h2 style = "text-align: center;">Register to get started </h2>
  <form action = "/register" method = "post" style = "margin-left: 100px; margin-right: 100px;"> {{!--from previous lab, need to write js route and stylize the page--}}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name = "username" required>
    </div>
      <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" name = "email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name = "password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <a href = "/login" style = "margin-left: 0px;">Already have an account? Login here</a>
</div>
</html>
